version: '3.3'
services:
  db:
    build: mongodb

  api:
    build: backend
    volumes: 
    - ./backend/app:/app
    ports:
     - "8080:8080"
    links:
    - db
    depends_on:
      - db
    environment:
      - MONGODB_CONNSTRING=mongodb://root:root@db